.Registration-container {
  background-color: #cee8f8;
}

.Registration-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.Image-container {
  width: 450px;
  height: 500px;

  img {
    width: 100%;
    height: 100%;
  }
}

.Registration-form-container {
  padding: 40px 36px 24px 42px;
  border-radius: 4px;
  background: #ffffff;

  h2 {
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    margin: 0 0 40px 0;
  }
}

.Form-container {
  form {
    display: flex;
    flex-direction: column;
  }

  label {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 8px;
  }

  input {
    margin-bottom: 8px;
  }

  input:last-of-type {
    margin-bottom: 15px;
  }

  input[placeholder] {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
  }
}
