.Registration-container {
  background-color: #cee8f8;
  height: 100vh;
}

.Registration-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  height: 86vh;
}

.Image-container {
  width: 40%;

  img {
    width: 100%;
    height: 100%;
  }
}

.Registration-form-container {
  padding: 40px 36px 24px 42px;
  border-radius: 4px;
  background: #ffffff;
  width: 40%;

  h2 {
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 40px;
  }
}

.Form-container {
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  label {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 8px;
  }

  input {
    margin-bottom: 8px;
    border: 1px solid #cee8f8;
    border-radius: 4px;
    color: #000;
    font-size: 18px;
    padding: 10px 20px;
    align-self: stretch;
  }

  input:last-of-type {
    margin-bottom: 15px;
  }

  input::placeholder {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.2);
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 11px;
    align-self: flex-end;
    background: #ffffff;
    border: 1px solid #cee8f8;
    border-radius: 4px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 8px;
  }

  a {
    align-self: flex-end;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    color: #000;
  }
}
