.AddAppointment-container {
  background: #c5e9ff;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 10px;
}

.AddAppointment-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 90%;
  padding: 24px 0;

  div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
