.AddAppointment-container {
  background: #c5e9ff;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 10px;
}

.AddAppointment-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 90%;
  padding: 24px 0;

  div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .MuiFormControl-root {
    margin: 0;
  }

  .AddAppointment-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 11px;
    background: #ffffff;
    border: none;
    border-radius: 4px;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
  }
}
