.Header-container {
  background: #c5e9ff;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);

  div {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 90%;
    padding: 15px 0 18px 0;
  }

  img {
    margin-right: 30px;
  }

  h1 {
    font-weight: normal;
  }

}
